{
  "ENVIRONMENT": "staging",
  "API_BASE_URL": "https://staging-api.circuly.io",

  "SHOPIFY_STRIPE_API_KEY": "your-shopify-stripe-key",
  "SHOPIFY_ADYEN_API_KEY": "your-shopify-adyen-key",
  "SHOPIFY_MOLLIE_API_KEY": "your-shopify-mollie-key",
  "WOOCOMMERCE_STRIPE_API_KEY": "your-woocommerce-stripe-key",
  "MAGENTO_STRIPE_API_KEY": "your-magento-stripe-key",
  "SHOPWARE6_STRIPE_API_KEY": "your-shopware6-stripe-key",
  "SALEOR_STRIPE_API_KEY": "your-saleor-stripe-key"
}
